.row
  .col-md-12
    .card.mb-3
      .card-body
        h2.h5.card-title = "Название блога"
        p.card-text.mb2 = "Описание блога"
        span.text-right.small.text-muted.mt-auto
          span.me-2 = "Понравилось 0"
          span.me-2 = "25 Минут"
          span = "example@yandex.ru"
