h2 Регистрация

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource

  .form-inputs.row.gap-2
    = render "shared/inputs/email_input", f: f, autofocus: true
    = render "shared/inputs/password_input", f: f, hint: "(минимум #{@minimum_password_length} символов)" if @minimum_password_length
    = render "shared/inputs/password_input", f: f, field: :password_confirmation, label: "Подтверждение пароля"

  .actions.my-2
    = render "shared/inputs/submit", f: f, text: "Зарегистрироваться"

= render "devise/shared/links"
