= f.input :password,
        label: local_assigns[:label] || t("activerecord.attributes.user.password"),
        input_html: { autocomplete: local_assigns[:autocomplete] || "current-password", class: "form-control" },
        wrapper_html: { class: "form-group password" }
