- field = local_assigns[:field] || :password
- has_error = resource && resource.errors[field].any?
- input_class = "form-control #{has_error ? 'is-invalid' : ''}"

= f.input field,
        label: local_assigns[:label] || t('activerecord.attributes.user.password'),
        input_html: { autocomplete: local_assigns[:autocomplete] || 'current-password', class: input_class },
        wrapper_html: { class: has_error ? 'form-group password has-error' : 'form-group password' },
        label_html: { class: has_error ? 'form-label text-danger' : 'form-label' },
        error_html: { class: 'invalid-feedback text-danger fw-bold' },
        error: has_error ? resource.errors[field].first : false,
        hint: local_assigns[:hint]
