ruby:
  field = local_assigns[:field] || :password
  form_object = f.object
  has_error = form_object && form_object.errors[field].any?
  input_class = "form-control #{has_error ? 'is-invalid' : ''}"

= f.input field,
        label: local_assigns[:label] || t('activerecord.attributes.user.password'),
        input_html: { autocomplete: local_assigns[:autocomplete] || 'current-password', class: input_class },
        wrapper_html: { class: has_error ? 'form-group password has-error' : 'form-group password' },
        label_html: { class: 'form-label' },
        error_html: { class: 'invalid-feedback text-danger' },
        error: has_error ? form_object.errors[field].first : false
