= f.input local_assigns[:field_name],
  label: local_assigns[:label],
  autofocus: local_assigns[:autofocus] || false,
  as: local_assigns[:as] || :string,
  placeholder: local_assigns[:placeholder] || "",
  input_html: local_assigns[:input_html] || { class: "form-control" },
  wrapper_html: local_assigns[:wrapper_html] || { class: "form-group" }
