= simple_form_for post do |form|
  - if post.errors.any?
    .alert.alert-danger
      = t('.error_message')
  .form-group.row.gap-2.mb-2
    = render 'shared/inputs/text_input', f: form, field_name: :title, autocomplete: 'title', autofocus: true, label: t('.title'), hint: t('.title_hint')
    = form.association :category, collection: @categories, include_blank: true, input_html: { class: 'form-control' }, label: t('.category')
    = render 'shared/inputs/text_input', f: form, field_name: :body, as: :text, autocomplete: 'body', autofocus: true, label: t('.body'), hint: t('.body_hint')
  .form-actions
    = render 'shared/inputs/submit', f: form, text: t('.create_post')
